html, body {
    margin:0;
    padding:0;

    font-weight: bold;
    font-size: medium;
    
}

a:link {
    text-decoration: none;
    color: #004415;
}

.station_text {
    padding-top: 15px;
    text-align: center; 
    color: rgb(0,0,255);
}

.main_block {
    width: 780px;
    position: absolute;
    left: 20%;
}

.radio_block {
    width: 780px;
    height: 48px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

.radio_block:hover {
    width:  830px;
    height: 58px;
    transform: translate(-25px,0);
}

.radio_block:nth-child(odd)     { background:#e7e7e7; }
.radio_block:nth-child(even)    { background:#f7f7f7; }

.radio_block:hover { -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc; }

.radio_logo {}

.radio_logo_wrapper {
    width: 176px;
    float: left;
}

.radio_button { float:right; }

.stop {
    height: 21px;
    width: 23px;
    background: url(http://live.mix.am/img/on_off.png) no-repeat -21px 0px;
    margin-top: 13px;
    margin-right: 15px;
    cursor: pointer;
}

.playing {background-position: 0px 0px;}

.player {
    display:none;
    visibility: hidden;
    height: 0;
    position: absolute;
    overflow: hidden;
}

.active_icon {background-position: -21px 0px;}

div#hmenu {
    margin: 0;
    padding: .3em 0 .3em 0;
    background: #e7e7e7;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

div#hmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#hmenu ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

div#hmenu ul a:link{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
}

div#hmenu ul a:visited{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    color: #227755;
}

div#hmenu ul a:active{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    color: #227755;
}

div#hmenu ul a:hover{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    color: #f6f0cc;
    background-color: #a7a7a7;
}
